* {margin: 0; padding: 0; box-sizing: border-box;} 
#python1 {color: #d4a017;}
#python2 {padding: 8px; margin-top: 10px;}
#photo {width: 100%; border: solid 7px #D4A017; box-sizing: border-box; margin-top: 10px;}
#python3 {font-size:25px; color:#D4A017; text-decoration: underline;}

body {max-width:800px; min-width:400px;}

h1 {color:#D4A017; text-decoration:underline; border: solid 5px #D4A017;}

#p3 {color:antiquewhite;}
#p4 {color:antiquewhite;}

p {color:#D4A017; font-size:20px; padding-left: 20px;}
 

hr {border: solid 2px #D4A017;}            /*  دي الي  تعديل الخط الاول والي تعديل شكل الخط والحخم واللون*/


ul {list-style:none;}      /*  (بالتحديد اخفاء الترقيم)الي التحكم في شكل القائمه*/  


#hr2 {border: solid 2px #D4A017}   /*  دي الي  تعديل الخط التاني والي تعديل شكل الخط والحخم واللون*/


#p2 {font-size:19px; padding-left: 20px;}



#type1 {color:#D4A017; font-size:large;}
#type2 {color:#D4A017; font-size:large;}
#type3 {color:#D4A017; font-size:large;}
#type4 {color:#D4A017; font-size:large;}


#e1 {color:antiquewhite; font-size:16px;}
#e2 {color:aliceblue; font-size:16px;}
#e3 {color:aliceblue; font-size:16px;}
#e4 {color:aliceblue; font-size:16px;}


#simpel {font-size:22px;}


#Python {color:#F5F0E1; font-size:24px; text-decoration: underline;} 



div {
    background-color:#356997;
    border: 7px solid black;
    width: 80%;
    margin-top: 50px;
    margin-left: 50px;
    padding-right: 30px;
    padding-left: 30px;
    }


#con2 {margin-top:5px; margin-bottom:5px;
    margin-left: auto; margin-right: auto;
padding-top:5px;
padding-bottom:5px;
box-sizing: border-box;
width: 100%;

}


